name: Deploy to EC2
on:
push:
branches: ["main"]
jobs:
deploy:
runs-on: ubuntu-latest
steps:
- name: Checkout code
uses: actions/checkout@v4
-name: Start SSH agent and add key
uses: webfactory/ssh-agent@v0.9.0
with:
ssh-private-key:${{ secrets.EC2_SSH_KEY}}
-name: Deploy on EC2
run: |
ssh -o StrictHostKeyChecking=no ${{ sectrts.EC2_USER}}@${{ secrets.EC2_HOST}}
"cd /var/www/myciapp/linux-ec2-ci-cd-site && ./deploy.sh"
